<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.cy.pj.sys.dao.SysRoleDao">

    <!--修改角色自身信息-->
    <update id="updateObject">
        update sys_roles
          set name=#{name},note=#{note},modifiedTime=now(),modifiedUser=#{modifiedUser}
        where id=#{id}
    </update>


    <!--resultMap是mybatis框架中实现高级映射的一种方式,
    几乎所有的多表关联,嵌套查询都会使用resultMap做映射,
    当然,当单表数据查询时假如表中字段名与pojo中的属性或set方法不匹配
    也可以借助ResultMap做自定义映射-->
    <!--表关联嵌套-->
    <resultMap id="sysRoleMenu" type="com.cy.pj.sys.pojo.SysRoleMenu">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="note" column="note"/>
        <collection property="menuIds"
                    column="id"
                    select="com.cy.pj.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId"/>
    </resultMap>
    <select id="findById" resultMap="sysRoleMenu">
        select id,name,note
        from sys_roles
        where id=#{id}
    </select>


    <!--方案2:表关联查询映射(one2many使用collection)
    <resultMap id="sysRoleMenu" type="com.cy.pj.sys.pojo.SysRoleMenu">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="note" column="note"/>
        <collection property="menuIds" ofType="integer">
                <result column="menu_id"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="sysRoleMenu">
        select r.id,r.name,r.note,rm.menu_id
        from sys_roles r left join sys_role_menus rm
        on r.id=rm.role_id
        where r.id=#{id}
    </select>
    -->

    <!--方案1:单表查询
    <select id="findById" resultType="com.cy.pj.sys.pojo.SysRoleMenu">
        select id,name,note
        from sys_roles
        where id=#{id}
    </select>
    -->
    <!--useGeneratedKeys 属性表示要使用写入到数据库的自增主键值
        keyProperty 属性表示将拿到的主键值赋值给参数对象的指定属性-->
    <insert id="insertObject"
            parameterType="com.cy.pj.sys.pojo.SysRole"
            useGeneratedKeys="true"
            keyProperty="id">

        insert into sys_roles
        (name,note,createdTime,modifiedTime,createdUser,modifiedUser)
        values
        (#{name},#{note},now(),now(),#{createdUser},#{modifiedUser})
    </insert>

    <!--在mybatis框架中sql元素用于封装映射语句中的共性代码,需要时借助include进行包含-->
    <sql id="queryWhereId">
        from sys_roles
        <where>
            <if test="name!=null and name!=''">
                name like concat("%",#{name},"%")
            </if>
        </where>
    </sql>
    <select id="findPageObjects" resultType="com.cy.pj.sys.pojo.SysRole">
        select *
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount" resultType="int">
         select count(*)
         <include refid="queryWhereId"/>
    </select>
</mapper>