<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.cy.pj.sys.dao.SysUserDao">
    <update id="updateObject">
       update sys_users
       set username=#{username},
           mobile=#{mobile},
           email=#{email},
           deptId=#{deptId},
           modifiedTime=now(),
           modifiedUser=#{modifiedUser}
       where id=#{id}
    </update>

     <select id="findById" resultMap="sysUserDept">
           select *
           from sys_users
           where id=#{id}
     </select>

     <insert id="insertObject"
             parameterType="com.cy.pj.sys.pojo.SysUser"
             useGeneratedKeys="true"
             keyProperty="id">
        insert into sys_users
           (username,password,deptId,email,mobile,salt,valid,
           createdTime,modifiedTime,createdUser,modifiedUser)
        values
          (#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
          now(),now(),#{createdUser},#{modifiedUser})
     </insert>

     <resultMap id="sysUserDept" type="com.cy.pj.sys.pojo.SysUserDept">
          <!--association 一般用于many2one(多对一)或one2one(一对一)的查询映射-->
          <association property="sysDept"
                       column="deptId"
                       select="com.cy.pj.sys.dao.SysDeptDao.findById">
          </association>
     </resultMap>

    <select id="findPageObjects" resultMap="sysUserDept">
         select *
         from sys_users
         <where>
              <if test="username!=null and username!=''">
                   username like concat("%",#{username},"%")
              </if>
         </where>
         order by createdTime desc
    </select>
</mapper>